{% extends 'layouts.master' %}

{% block content %}
  <h2>Your orders</h2>

  {% if orders.isEmpty() %}
    <p>You have no orders.</p>
  {% else %}
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Item Quantity</th>
        <th>Order Total</th>
        <th>Payment Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.items.sum('quantity') }}</td>
            <td>{{ order.total | formatMoney }}</td>
            <td>{{ order.paid ? 'Paid' : 'Not paid' }}</td>
            <td>
              <a
                class="mdl-button mdl-button--raised"
                href="{{ route('shop.order.show', {order: order.id}) }}"
              >
                View
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ orders.links() | raw }}
  {% endif %}
{% endblock %}
