<div class="app-product-list">
  {% for product in products %}
    <div class="mdl-card app-product-list__product">
      <div class="mdl-card__primary">
        <a
            class="mdl-card__title"
            href="{{ route('shop.product.show', {product: product.id}) }}">
          {{ product.name }}
        </a>
      </div>
      <div class="mdl-card__supporting-text">
        {% if product.unitsInStock() > 0 and not product.hasVariations() %}
          <p><b>Price:</b> {{ product.price() | formatMoney }}</p>
          <p><b>Units in stock:</b> {{ product.unitsInStock() }}</p>
          {% elseif product.totalUnitsInStock() > 0 %}
          <p><b>Base Price:</b> {{ product.price() | formatMoney }}</p>
          <p><b>Total units in stock:</b> {{ product.totalUnitsInStock() }}</p>
        {% else %}
          <p>
            This product is currently out of stock.
            Please check back later.
          </p>
        {% endif %}
      </div>
      <div class="mdl-card__actions">
        <a
          class="mdl-card__action mdl-button mdl-button--raised"
          href="{{ route('shop.product.show', {product: product.id}) }}">
          Details
        </a>
      </div>
    </div>
  {% endfor %}
</div>
