<nav class="mdl-list app-site-menu">
  <a
    class="mdl-list-item"
    href="{{ route('home') }}">Home</a>
  <a
    class="mdl-list-item"
    href="{{ route('shop.product.index') }}">Products</a>
  <a
    class="mdl-list-item"
    href="{{ route('shop.cart.index') }}">Cart</a>

  {% if not user %}
    <a
      class="mdl-list-item"
      href="{{ route('login') }}">Login</a>
    {% else %}
    <form
      action="{{ route('login.destroy') }}"
      method="post"
    >
      <input type="hidden" name="_method" value="delete">
      {% include 'elements.csrf' %}
      <button class="mdl-list-item">Log Out</button>
    </form>
  {% endif %}
</nav>
