<a
  class="app-js-checkout-link mdl-button mdl-button--raised mdl-button--primary"
  href="{{ route('shop.checkout.index') }}"
  data-amount="{{ itemTotal.getAmount() }}"
  data-stripe-key="{{ config('services.stripe.key') }}"
  data-guest="{{ isGuest ? 'true' : 'false' }}"
  data-name="{{ config('app.name') }}"
  data-route-shipping="{{ route('shop.checkout.shipping.submit') }}"
  data-route-tax="{{ route('shop.tax') }}"
  data-route-payment="{{ route('shop.checkout.review.submit') }}"
  data-route-csrf="{{ route('csrf') }}"
  data-csrf="{{ csrf_token() }}"
  {% if user %}
    data-email="{{ user.email }}"
  {% endif %}
>Checkout</a>

<script src="{{ asset('checkout-link.js') }}">
</script>
