<label class="mdl-textfield mdl-textfield--fullwidth">
  {{ label }}
  <input
    class="mdl-textfield__input"
    type="{{ type ?? 'text' }}"
    {% if name is defined %}
    name="{{ name }}"
    {% endif %}
    {% if checked is defined and checked == true %}
    checked
    {% endif %}
            {% if inputAttributes is defined %}
                {% for key, value in inputAttributes %}
                    {{ key }}="{{ value }}"
    {% endfor %}
    {% endif %}
    >
  {% if error is defined and error != null %}
    <span>{{ error | join('<br>') }}</span>
  {% endif %}
</label>
