<label class="mdl-textfield mdl-textfield--fullwidth">
  {{ label }}
  <textarea
    class="mdl-textfield__input"
    {% if name is defined %}
      name="{{ name }}"
    {% endif %}
    {% if inputAttributes is defined %}
      {% for key, value in inputAttributes %}
        {{ key }}="{{ value }}"
      {% endfor %}
    {% endif %}
  >{% if value is defined %}{{ value }}{% endif %}</textarea>
  {% if error is defined and error != null %}
    <span>{{ error | join('<br>') }}</span>
  {% endif %}
</label>
