{% extends 'layouts.master' %}

{% block content %}
  <form
    accept-charset="utf-8"
    method="post"
    action="{{ route('shop.checkout.submit') }}"
  >
    {% include 'elements.csrf' %}
    <fieldset>
      <legend>Will you be picking this order up in person?</legend>
      <label>
        Yes
        <input
          type="radio"
          name="pickup"
          value="1"
          checked
        >
      </label>
      <label>
        No
        <input
          type="radio"
          name="pickup"
          value="0"
        >
      </label>
    </fieldset>
    <fieldset>
      <legend>Will you be paying for this order online?</legend>
      <div class="app-js-noscript">If you are not picking up the order then you must pay online.</div>
      <label>
        Yes
        <input
          type="radio"
          name="paying_online"
          value="1"
        >
      </label>
      <label>
        No
        <input
          type="radio"
          name="paying_online"
          value="0"
          checked
        >
      </label>
    </fieldset>
    <button type="submit">Continue</button>
  </form>
{% endblock %}
