{% extends 'layouts.master' %}

{% block content %}
  <script src="https://checkout.stripe.com/checkout.js"></script>
      <button
        id="payment-button"
        class="app-order-review-pay-button mdl-button mdl-button--raised mdl-button--primary"
        data-csrf="{{ csrf_token() }}"
        data-amount="{{ subtotal.add(calculateTax(subtotal)).getAmount() }}"
        data-stripe-key="{{ config('services.stripe.key') }}"
        data-name="{{ config('app.name') }}"
        {% if user %}
          data-email="{{ user.email }}"
        {% endif %}
        data-action="{{ route('shop.checkout.review.submit') }}"
        type="button"
      >
        Pay Now
      </button>
  <script src="{{ asset('checkout-review.js') }}"></script>
  <div class="app-order-review">
    <div class="mdl-list mdl-list--two-line app-order-review__list">
      {% for item in cart.items() %}
        {% set fromDb = itemsFromDb.where('id', '=', item.identifier()).first() %}

        <span class="mdl-list-item">
        <span class="mdl-list-item__text">
                <span class="mdl-list-item__text__primary">{{ item.name() }}</span>

          {% if fromDb.isVariation() %}
            <p class="mdl-list-item__text__secondary">
                {% for option in fromDb.options %}
                  <b>{{ option.group.name }}</b> {{ option.name }}<br>
                {% endfor %}
              </p>
          {% endif %}
          <span class="mdl-list-item__text__secondary"><b>Quantity</b> {{ item.quantity() }}</span>
          <span class="mdl-list-item__text__secondary"><b>Cost per item</b> {{ fromDb.price() | formatMoney }}</span>
        </span>
      </span>
        <div role="separator" class="mdl-list-divider"></div>

      {% endfor %}
    </div>
    <div class="app-order-review__details">
      <div class="mdl-list mdl-list--two-line">

        <div class="mdl-list-item">
          <span class="mdl-list-item__text">Order Subtotal</span>
          &nbsp;
          <span class="mdl-list-item__text__secondary">{{ itemSubtotal | formatMoney }}</span>
        </div>

        {% if shippingEstimate %}
        <div class="mdl-list-item">
          <span class="mdl-list-item__text">Shipping Cost</span>
          &nbsp;
          <span class="mdl-list-item__text__secondary">{{ shippingEstimate.price | formatMoney }}</span>
        </div>
        {% endif %}

        <div class="mdl-list-item">
          <span class="mdl-list-item__text">Tax</span>
          &nbsp;
          <span class="mdl-list-item__text__secondary">{{ calculateTax(subtotal) | formatMoney }}</span>
        </div>

        <div class="mdl-list-item">
          <span class="mdl-list-item__text">Total</span>
          &nbsp;
          <span class="mdl-list-item__text__secondary">{{ subtotal.add(calculateTax(subtotal)) | formatMoney }}</span>
        </div>

      </div>

    </div>
  </div>


{% endblock %}
