{% extends 'layouts.master' %}

{% block content %}
<form
  class="app-shipping-form"
  accept-charset="utf-8"
  method="post"
  action="{{ route('shop.checkout.shipping.submit') }}"
  >
  {% include 'elements.csrf' %}

  <label
    class="mdl-textfield"
  >
    Recipient Name:
    <input
      class="mdl-textfield__input"
      name="name"
      {% if user %}
        value="{{ user.name }}"
      {% endif %}
      required
    >
  </label>

  <label
    class="mdl-textfield"
  >
    Street Address:
    <input
      class="mdl-textfield__input"
      name="street_one"
      required
      >
  </label>

  <label
    class="mdl-textfield"
  >
    Street Address Line Two:
    <input
      class="mdl-textfield__input"
      name="street_two"
      >
  </label>

  <label
    class="mdl-textfield"
  >
    Company
    <input
      class="mdl-textfield__input"
      name="company"
      >
  </label>

  <label
    class="mdl-textfield"
  >
    City:
    <input
      class="mdl-textfield__input"
      name="city"
      required
      >
  </label>

  <label
  >
    State:
    <select class="mdl-select" name="state">
      {% for state in states %}
        <option
          value="{{ state.name }}"
          {% if state.name == 'Virginia' %} selected {% endif %}
        >{{ state.name }}</option>
      {% endfor %}
    </select>
  </label>

  <label
    class="mdl-textfield"
  >
    Zip Code:
    {# Pattern match is for US Zip Code only. #}
    <input
      class="mdl-textfield__input"
      name="postcode"
      pattern="^\d{5,6}(?:[-\s]\d{4})?$"
      required
      >
  </label>

  <button
    class="mdl-button mdl-button--raised mdl-button--primary"
    type="submit">Continue</button>
</form>
{% endblock %}
