<form
  class="mdl-card"
  accept-charset="utf-8"
  method="post"
  action="{{ route('account.password.submit') }}"
>
  <div class="mdl-card__primary">
    <span class="mdl-card__title">Change Password</span>
  </div>
  {% include 'elements.csrf' %}
  <div class="mdl-card__supporting-text">
    {% include 'elements.input' with {
    label: 'Current Password',
    name: 'current-password',
    type: 'password',
    inputAttributes: {
    required: true,
    autocomplete: 'current-password'
    }
    } only %}
    {% include 'elements.input' with {
    label: 'New Password',
    name: 'new-password',
    type: 'password',
    inputAttributes: {
    required: true,
    autocomplete: 'new-password'
    }
    } only %}
  </div>
  <div class="mdl-card__actions">
    <button
      class="mdl-button mdl-button--raised mdl-button--primary mdl-card__action"
      type="submit"
    >
      Change Password
    </button>
  </div>
</form>
