<form
  class="mdl-card"
  accept-charset="utf-8"
  method="post"
  action="{{ route('contact.store') }}"
>
  {% include 'elements.csrf' %}

  <div class="mdl-card__supporting-text">
    {% include 'elements.input' with {
    label: 'Name',
    name: 'name',
    inputAttributes: {
    required: true
    }
    } only %}
    {% include 'elements.input' with {
    label: 'Email',
    name: 'email',
    type: 'email',
    inputAttributes: {
    required: true
    }
    } only %}
    {% include 'elements.textarea' with {
    label: 'Message',
    name: 'message',
    inputAttributes: {
    required: true
    }
    } only %}
  </div>

  <div class="mdl-card__actions">
    <button
      class="mdl-card__action mdl-button mdl-button--raised mdl-button--primary"
      type="submit"
    >
      Send Message
    </button>
  </div>
</form>
