<form
  class="mdl-card"
  accept-charset="utf-8"
  method="post"
  action="{{ route('account.edit.submit') }}"
>
  <div class="mdl-card__primary">
    <span class="mdl-card__title">Contact Information</span>
  </div>
  {% include 'elements.csrf' %}
  <div class="mdl-card__supporting-text">
    {% include 'elements.input' with {
    label: 'Name',
    name: 'name',
    inputAttributes: {
    required: true
    }
    } only %}
    {% include 'elements.input' with {
    label: 'Email',
    name: 'email',
    type: 'email',
    inputAttributes: {
    required: true
    }
    } only %}
  </div>
  <div class="mdl-card__actions">
    <button
      class="mdl-button mdl-button--raised mdl-button--primary mdl-card__action"
      type="submit"
    >
      Change Data
    </button>
  </div>
</form>
