{% extends 'layouts.master' %}

{% block content %}
  <p>
    To view a guest order the email associated with the order must be provided.
    If you have a customer account you placed the order with then you must log in to view the order.
  </p>
  <form
    accept-charset="utf-8"
    method="post"
    action="{{ route('shop.order.show', { order: app.request.route('order') }) }}"
    >
    {% include 'elements.csrf' %}
    {% include 'elements.input' with {
      label: 'Email',
      type: 'email',
      name: 'email',
      inputAttributes: {
        required: null
      }
    } only %}
    <button
      class="mdl-button mdl-button--raised mdl-button--primary"
      type="submit">
      View Order
    </button>
  </form>

{% endblock %}
