{% extends 'layouts.master' %}

{% block content %}
  <div class="mdl-card">
    <div class="mdl-card__primary">
      <span class="mdl-card__title">Details</span>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <b>Total</b> {{ order.total | formatMoney }} <br><br>
        <b>Subtotal</b> {{ order.subtotal | formatMoney }} <br>
        <b>Tax</b> {{ order.tax | formatMoney }} <br>
        <b>Shipping Cost</b> {{ order.shipping_cost | formatMoney }} <br>
        <br>
        <b>Total Items</b> {{ order.items.sum('quantity') }} <br>
        <b>Paid</b> {{ order.paid ? 'Yes' : 'No' }}<br>
        <b>Status</b> {{ order.status.name }} <br>
        <br>
        <b>Created at</b> {{order.created_at | date('d-m-Y')}}<br>
        <b>Last Updated</b> {{order.updated_at | date('d-m-Y')}}
      </p>
    </div>
  </div>

<div class="mdl-list mdl-list--two-line app-order-review__list">
  {% for item in order.items %}

  <span class="mdl-list-item">
    <span class="mdl-list-item__text">
      <span class="mdl-list-item__text__primary">{{ item.product().name() }}</span>
        {% if item.product().isVariation() %}
            <p class="mdl-list-item__text__secondary">
                {% for option in item.product().options %}
                  <b>{{ option.group.name }}</b> {{ option.name }}<br>
                {% endfor %}
              </p>
          {% endif %}
          <span class="mdl-list-item__text__secondary"><b>Quantity</b> {{ item.quantity }}</span>
          <span class="mdl-list-item__text__secondary"><b>Cost per item</b> {{ item.price | formatMoney }}</span>
        </span>
      </span>
        <div role="separator" class="mdl-list-divider"></div>

  {% endfor %}
</div>

{% endblock %}
