{% extends 'layouts.master' %}

{% block content %}
  <h2>Cart</h2>
  {% if cart.items().count() > 0 %}
    <div style="display: flex; justify-content: space-between;">
      <form
        class="app-empty-cart-form"
        accept-charset="utf-8"
        method="post"
        action="{{ route('shop.cart.destroy') }}"
        >
        {% include 'elements.csrf' %}
        <input type="hidden" name="_method" value="delete">
        <button
          class="mdl-button mdl-button--accent mdl-button--raised"
          type="submit">Empty Cart</button>
      </form>
      {% include 'elements.checkout-link' %}
    </div>
    <form
      class="app-cart-desktop-form"
      accept-charset="utf-8"
      method="post"
      action="{{ route('shop.cart.update') }}"
    >
      {% include 'elements.csrf' %}
      <table class="app-cart-table">
        <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Item Total</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.items() %}
          {% set fromDb = items.where('id', '=', item.identifier()).first() %}
          <tr>
            <td>{{ item.name() }}
              {% if fromDb.isVariation() %}
                <p>
                  {% for option in fromDb.options %}
                    <b>{{ option.group.name }}</b> {{ option.name }}<br>
                  {% endfor %}
                </p>
              {% endif %}
            </td>
            <td>{{ fromDb.price() | formatMoney }}</td>
            <td>
              <span class="mdl-textfield">
              <input
                class="mdl-textfield__input"
                aria-label="{{ item.name() }} Quantity"
                name="products[{{ item.identifier() }}][quantity]"
                value="{{ item.quantity() }}"
                type="number"
                step="1"
                max="{{ fromDb.unitsInStock() }}"
                required
              >
              </span>
            </td>
            <td>{{ fromDb.price().multiply(item.quantity()) | formatMoney }}</td>
            <td>
              <input type="hidden" name="products[{{ item.identifier() }}][remove]" value="0">
              <div class="mdl-checkbox">
                <input                 name="products[{{ item.identifier() }}][remove]"
                                       type="checkbox"
                                       value="1"
                                       class="mdl-checkbox__native-control"/>
                <div class="mdl-checkbox__background">
                  <svg version="1.1" class="mdl-checkbox__checkmark"
                       xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                       xml:space="preserve">
      <path class="mdl-checkbox__checkmark__path" fill="none" stroke="white"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
                  <div class="mdl-checkbox__mixedmark"></div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th colspan="4">Order Subtotal</th>
          <td>{{ subtotal | formatMoney }}</td>
        </tr>
        <tr>
          <th colspan="4">Tax Estimate</th>
          <td>{{ calculateTax(subtotal) | formatMoney }}</td>
        </tr>
        <tr>
          {% if shippingEstimate %}
          <th colspan="4">
            Shipping via {{ shippingEstimate.provider }} with {{ shippingEstimate.service }}
          </th>
            <td colspan="1">
              {{ shippingEstimate.price | formatMoney }}
            </td>
          {% endif %}
        </tr>
        </tfoot>
      </table>
      <button
        class="mdl-button mdl-button--raised"
      >
        Update Cart
      </button>
    </form>
    <form
      class="app-cart-mobile-form"
      accept-charset="utf-8"
      method="post"
      action="{{ route('shop.cart.update') }}"
      >
      <div class="app-cart-mobile-form__estimates">
        <div class="mdl-card">
          <div class="mdl-card__primary">
            <span class="mdl-card__title">Order Subtotal</span>
          </div>
          <div class="mdl-card__supporting-text">
            <p>{{ subtotal | formatMoney }}</p>
          </div>
        </div>
        {% if shippingEstimate %}
          <div class="mdl-card">
            <div class="mdl-card__primary">
              <span class="mdl-card__title">Shipping Estimate</span>
            </div>
            <div class="mdl-card__supporting-text">
              <p>Shipping via {{ shippingEstimate.provider }} with {{ shippingEstimate.service }}</p>
              <p><b>Cost</b> {{ shippingEstimate.price | formatMoney }}</p>
            </div>
          </div>
        {% endif %}
        <div class="mdl-card">
          <div class="mdl-card__primary">
            <span class="mdl-card__title">Tax Estimate</span>
          </div>
          <div class="mdl-card__supporting-text">
            <p>{{ calculateTax(subtotal) | formatMoney }}</p>
          </div>
        </div>
      </div>
      <div class="app-cart-mobile-form__items">
        {% for item in cart.items() %}
          {% set fromDb = items.where('id', '=', item.identifier()).first() %}
          <div class="mdl-card">
            <div class="mdl-card__primary">
              <span class="mdl-card__title">{{ item.name() }}</span>
              {% if fromDb.isVariation() %}
                <p class="mdl-card__subtitle">
                  {% for option in fromDb.options %}
                    <b>{{ option.group.name }}</b> {{ option.name }}<br>
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            <div class="mdl-card__supporting-text">
              <p>Price: {{ fromDb.price() | formatMoney }}</p>
              <label
                class="mdl-textfield">
                Quantity
                <input
                  class="mdl-textfield__input"
                  aria-label="{{ item.name() }} Quantity"
                  name="products[{{ item.identifier() }}][quantity]"
                  value="{{ item.quantity() }}"
                  type="number"
                  step="1"
                  max="{{ fromDb.unitsInStock() }}"
                  required
                >
              </label>
              <p>Total {{ fromDb.price().multiply(item.quantity()) | formatMoney }}</p>
              <input type="hidden" name="products[{{ item.identifier() }}][remove]" value="0">
              <label>Remove
                <div class="mdl-checkbox">
                  <input                 name="products[{{ item.identifier() }}][remove]"
                                         type="checkbox"
                                         value="1"
                                         class="mdl-checkbox__native-control"/>
                  <div class="mdl-checkbox__background">
                    <svg version="1.1" class="mdl-checkbox__checkmark"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                         xml:space="preserve">
      <path class="mdl-checkbox__checkmark__path" fill="none" stroke="white"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
                    <div class="mdl-checkbox__mixedmark"></div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        {% endfor %}
      </div>
      <button
        class="mdl-button mdl-button--raised"
      >
        Update Cart
      </button>
      {% include 'elements.csrf' %}
    </form>
    {% if items.count() > 0 %}
      <form
        class="mdl-card"
        accept-charset="utf-8"
        method="get"
        action="{{ route('shop.shipping.estimate') }}"
      >
        <div class="mdl-card__primary">
          <span class="mdl-card__title">
            Estimate Shipping
          </span>
          <div class="mdl-card__supporting-text">
            <label class="mdl-textfield">
              Zip Code
              <input
                class="mdl-textfield__input"
                name="postcode"
                required
              >
            </label>
          </div>
        </div>
        <div class="mdl-card__actions">
        <button
          class="mdl-card__action mdl-button mdl-button--raised"
          type="submit">
          Get Estimate
        </button>
        </div>
      </form>
      {% endif %}
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}
