{% extends 'layouts.master' %}

{% block content %}
  <h1>{{ product.name }}</h1>
  <form
    accept-charset="utf-8"
    method="post"
    action="{{ route('shop.cart.add') }}"
  >
    <button
      class="mdl-button mdl-button--raised mdl-button--primary"
      {% if (not product.hasVariations() and product.unitsInStock() == 0) or
      (product.hasVariations() and product.totalUnitsInStock() == 0) %}
        disabled
      {% endif %}
      type="submit">Add to cart
    </button>
    {% include 'elements.csrf' %}
    {% if product.hasVariations() %}
      {% for variation in product.activeVariations() %}
        {% if variation.unitsInStock() > 0 %}
          <div class="mdl-card">
            <div class="mdl-card__primary">
              {% for option in variation.options %}
                <p><b>{{ option.group.name }}</b> {{ option.name }}</p>
              {% endfor %}
            </div>
            <div class="mdl-card__supporting-text">
                <p><b>Price:</b> {{ variation.price() | formatMoney }}</p>
                <p><b>Units in stock:</b> {{ variation.unitsInStock() }}</p>
            </div>
            <div class="mdl-card__actions">
              <label class="mdl-textfield">
                <span>Quantity</span>
                <input
                  class="mdl-textfield__input"
                  name="products[{{ variation.id }}][quantity]"
                  type="number"
                  step="1"
                  min="1"
                  max="{{ variation.unitsInStock() }}"
                  placeholder="1"
                >
              </label>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p><b>Price:</b> {{ product.price() | formatMoney }}</p>
      <p><b>Units in stock:</b> {{ product.unitsInStock() }}</p>
      <label class="mdl-textfield">
        <span>Quantity</span>
        <input
          class="mdl-textfield__input"
          name="products[{{ product.id }}][quantity]"
          type="number"
          step="1"
          min="1"
          max="{{ product.unitsInStock() }}"
          value="1"
          {% if product.unitsInStock() == 0 %}
            disabled
          {% endif %}
          required
        >
      </label>
    {% endif %}
  </form>
{% endblock %}
