body {
    margin: 0;
}
.mdl-button {
    text-decoration: none;
}
.mdl-temporary-drawer {
    z-index: 1;
}
.mdl-list-item {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    width: 100%;
}

.app-appbar {
    display: flex;
    position: relative;
    position: sticky;
    width: 100%;
    top: 0;
    height: 48px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    fill: currentColor;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: height 120ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
}
.app-appbar_action, .app-appbar_title {
    height: 100%;
    width: 48px;
    color: rgba(0, 0, 0, 0.87);
    fill: currentColor;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
}
.app-appbar_action::before, .app-appbar_action::after, .app-appbar_title::before, .app-appbar_title::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 120ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 120ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: inherit;
    content: "";
}
.app-appbar_action::before, .app-appbar_title::before {
    background: black;
    opacity: 0;
}
.app-appbar_action:focus::before, .app-appbar_title:focus::before {
    opacity: .12;
}
.app-appbar_action::after, .app-appbar_title::after {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    overflow: hidden;
}
.app-appbar_action:active::after, .app-appbar_title:active::after {
    opacity: .06;
}
.app-appbar_action:active, .app-appbar_action:focus, .app-appbar_title:active, .app-appbar_title:focus {
    outline: none;
}
.app-appbar_action::-moz-focus-inner, .app-appbar_title::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.app-appbar_title {
    width: auto;
    flex-direction: row;
    margin-left: 24px;
}
.app-appbar--appbar {
    z-index: 2;
}

@media (min-width: 1024px) {
    .app-appbar {
        height: 64px;
    }
    .app-appbar_title {
        margin-left: 32px;
    }
    .app-appbar--dense {
        height: 48px;
    }
}


.app-main-area {
    display: flex;
}

.app-desktop-drawer {
    position: fixed;
    display: none;
}
.app-content {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
@media(min-width: 1024px) {
    .app-main-area {
        justify-content: flex-end;
    }
    .app-desktop-drawer {
        display: inline-flex;
        position: fixed;
    }

    .app-drawer-toggle {
        display: none;
    }

    .app-content {
        width: calc(100% - 288px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

.app-product-list {
    display: flex;
    flex-wrap: wrap;
}

.app-product-list__product {
    flex-basis: 50%;
}

.app-cart-desktop-form {
    display: none;
}

.app-cart-mobile-form {
    display: flex;
    flex-direction: column;
}

.app-cart-mobile-form__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-cart-table {
    width: 100%;
    margin-top: 24px;
}

.app-cart-table  th {
    padding: 14px;
}

.app-cart-table td {
    text-align: center;
}

.app-empty-cart-form {
    display: inline-block;
}

.app-cart-mobile-form__estimates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.app-cart-mobile-form__estimates .mdl-card {
    flex-basis: 100%;
}

.app-cart-mobile-form__items .mdl-card {
    flex-basis: 100%;
}

.app-shipping-form {
    margin-top: 16px;
    display: flex;
    flex-flow: column nowrap;
}

.app-shipping-form label {
    margin-bottom: 16px;
}

.app-order-review {
    display: flex;
    justify-content: space-between;
}

.app-order-review__list {
    flex-basis: 45%;
}

.app-order-review__details {
    flex-basis: 45%;
}

.app-order-review__list .mdl-list-item {
    height: auto;
}

.app-order-review-pay-button {
    left: 50%;
    transform: translate(-50%, 0);
}

@media(min-width: 1024px) {
    .app-cart-desktop-form {
        display: block;
    }
    .app-cart-mobile-form {
        display: none;
    }
}

@media (min-width: 500px) {
    .app-cart-mobile-form__estimates .mdl-card {
        flex-basis: auto;
    }
    .app-cart-mobile-form__items .mdl-card {
        flex-basis: 35%;
    }
}

