<!doctype html>

<title>{% block title %}{% endblock %} | {{ appName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('material-design-lite.css') }}">
<link rel="stylesheet" href="{{ asset('app.css') }}">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blissfuljs/1.0.2/bliss.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js"></script>
<div class="app-appbar">
  <button class="app-appbar_action app-js-temp-drawer-trigger app-drawer-toggle">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>
  </button>
  <span class="app-appbar_title">{{ appName }}</span>
</div>
<div class="app-main-area">
  <nav class="mdl-permanent-drawer app-desktop-drawer">
    <div class="mdl-permanent-drawer__content">
      {% include 'partials.siteMenu' %}
    </div>
  </nav>
  <div class="app-content">
    {% if errors.count() > 0 %}
      <ul>
        {% for error in errors %}
          <li>{{ error.message() }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
</div>

<nav class="mdl-temporary-drawer app-mobile-drawer">
  <div class="mdl-temporary-drawer__drawer">
    <div class="mdl-temporary-drawer__content">
      {% include 'partials.siteMenu' %}
    </div>
  </div>
</nav>


<script src="{{ asset('material-design-lite.js') }}"></script>
<script src="{{ asset('app.js') }}"></script>
