{% extends 'layouts.master' %}

{% block content %}
  <h2>Contact us</h2>

  {% if session_has('message') %}
    <div class="mdl-card">
      <div class="mdl-card__supporting-text">
        {{ session_get('message') }}
      </div>
    </div>
  {% endif %}

  {% include 'partials.forms.contact' %}

{% endblock %}
