{% extends 'layouts.master' %}

{% block content %}
  <h2>Log in</h2>
  <form
    class="mdl-card"
    accept-charset="utf-8"
    method="post"
    action="{{ route('login.store') }}"
  >
    {% include 'elements.csrf' %}
    <div class="mdl-card__supporting-text">
      {% include 'elements.input' with {
      label: 'Email',
      type: 'email',
      name: 'email',
      inputAttributes: {
        autocomplete: 'email',
        required: true
      }
      } only %}
      {% include 'elements.input' with {
      label: 'Password',
      type: 'password',
      name: 'password',
      inputAttributes: {
        autocomplete: 'current-password',
        required: true
      }
      } only %}
    </div>
    <div class="mdl-card__actions">
      <button
        class="mdl-card__action mdl-button mdl-button--raised mdl-button--primary"
        type="submit"
      >
        Attempt Log In
      </button>
    </div>
  </form>
{% endblock %}
