{% extends 'layouts.master' %}

{% block content %}
  <h2>Registration</h2>
  <form
    class="mdl-card"
    accept-charset="utf-8"
    method="post"
    action="{{ route('register.submit') }}"
  >
    {% include 'elements.csrf' %}
    <div class="mdl-card__supporting-text">
      {% include 'elements.input' with {
        label: 'Name',
        name: 'name',
        inputAttributes: {
          autocomplete: 'name',
          required: true
        }
      } only %}
      {% include 'elements.input' with {
        label: 'Email',
        type: 'email',
        name: 'email',
        inputAttributes: {
          autocomplete: 'email',
          required: true
        }
      } only %}
      {% include 'elements.input' with {
        label: 'Password',
        type: 'password',
        name: 'password',
        inputAttributes: {
          autocomplete: 'new-password',
          required: true
        }
      } only %}
    </div>
    <div class="mdl-card__actions">
      <button
        class="mdl-card__action mdl-button mdl-button--raised mdl-button--primary"
        type="submit"
        >
        Register
      </button>
    </div>
  </form>
{% endblock %}
